<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  <script src="~/src/js/scripts.min.js"></script>
  <script src="~/src/js/EAT/main.js"></script>
  <link href="~/wwwroot/dist/assets/styles.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <base href="/">
</head>
<body>
  @*<div class="container body-content">
    @RenderBody()
    <app-root></app-root>
  </div>*@

  @RenderBody()
  <app-root></app-root>

  <script src="~/wwwroot/dist/polyfills.bundle.js"></script>
  <script src="~/wwwroot/dist/vendor.bundle.js"></script>
  <script src="~/wwwroot/dist/main.bundle.js"></script>
</body>
</html>
