<section class="maincontent">
  <div class="maincontent__rightcol">
    <div class="title-bar">
      <h1 class="light man">View or Modify Locations</h1><span class="align-btn-right"></span>
    </div>
    <div class="content-main" role="main" style="padding:0;">
      <div class="col-lg-12">
        <div class="col-lg-12 p-0 pt-4">
          <button class="btn btn-primary btn-sm">Edit</button>
          <hr class="mt-2">
          <div class="col-lg-12 col-md-12 disp-inline-flex p-0">
            <div class="col-lg-6 col-md-6 p-0">
              <p>Name: {{model.locObj?.name}}</p>
              <p>Customer Location ID: {{model.locObj?.customerLocationId}}</p>
              <p>Latitude: {{model.locObj?.locGPSLat}}</p>
              <p>Longitude: {{model.locObj?.locGPSLong}}</p>
            </div>
            <div class="col-lg-6 col-md-6 p-0">
              <p>Location ChipID: {{model.locObj?.customerLocationId}}</p>
              <p>Location Barcode: {{model.locObj?.barcode}}</p>
              <p>Description: {{model.locObj?.description}}</p>
              <p>Notes: {{model.locObj?.notes}}</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="mb-4">
            <hr class="mt-2">
            <div *ngFor="let loc of model.locationList">
              <div class="eaton-tree-parent p-1 mb-2" (click)="selectLocEdit(loc._id)"><i class="icon-triangle-right" *ngIf="loc.subLocations.length !== 0"></i> {{loc.name}} <span class="pull-right"><a (click)="addLocation()"><i class="icon-pluscircle"></i></a></span></div>
              <div class="eaton-tree-child p-1 mb-2 ml-4" (click)="selectChildLocEdit(locChild._id)" *ngFor="let locChild of loc.subLocations">{{locChild?.name}} <span class="pull-right"><a (click)="addLocation()"><i class="icon-pluscircle"></i></a><a (click)="addLocation()"><i class="icon-closebox"></i></a></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-add-location-modal #addLocationModal></app-add-location-modal>
