<div bsModal #replaceAssetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="replaceAssetModal.hide()" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title text-center" id="myModalLabel18">Replace Asset</h5>
      </div>
      <div class="modal-body">
        <div class="col-lg-12 p-0">
          <div class="col-lg-12 p-0 pb-4 border-bottom">
            <div class="pull-left disp-inline-flex">
              <input type="search" placeholder="Search" class="form-control" />
              <button class="btn btn-primary btn-sm">Search</button>
            </div>
            <div class="pull-right disp-inline-flex">
              <button class="btn btn-primary btn-sm mr-2">Replace</button>
              <button class="btn btn-primary btn-sm">Cancel</button>
            </div>
          </div>
          <div class="col-lg-12 p-0 pt-4 border-bottom">
            test
          </div>
          <div class="col-lg-12 p-0 pt-4">
            <div class="col-lg-6 p-0 disp-inline-flex">
              <div class="form-group eaton-form-100 mr-4">
                <label>Replace By</label>
                <input type="text" class="form-control" placeholder="Replace By" readonly />
              </div>
              <div class="form-group eaton-form-100 mr-4">
                <label>Owned By</label>
                <input type="text" class="form-control" placeholder="Owned By" readonly />
              </div>
            </div>
            <div class="col-lg-12 p-0 disp-inline-flex">
              <div class="form-group eaton-form-100 mr-4">
                <label>Replacement Type</label>
                <select class="form-control">
                  <option>Scheduled Maintenance</option>
                  <option>Field Failure (Outside of Warranty)</option>
                  <option>Field Failure (Inside of Warranty period, RMA issued)</option>
                </select>
              </div>
              <div class="form-group eaton-form-100 mr-4">
                <label>Replacement Reason</label>
                <select class="form-control">
                  <option>Product age</option>
                  <option>Visible abrasion wear to outer cover</option>
                  <option>Physical damage to Hose</option>
                  <option>Cracking of Hose cover</option>
                  <option>Leakage or Hose burnt</option>
                  <option>Leakage at Hose Fitting connection</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="form-group eaton-form-100 mr-4">
                <label>Other Reason</label>
                <input type="text" class="form-control" placeholder="Owned By" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-lg-12 col-xs-12 text-center">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <button class="btn btn-primary btn-sm" (click)="replaceAssetModal.hide()">Cancel</button>
        <button class="btn btn-primary btn-sm" (click)="createAsset()">Save</button>
      </div>

    </div>
  </div>
</div>
