<app-header></app-header>
<app-sidebar></app-sidebar>
<router-outlet></router-outlet>



<!--<app-header></app-header>
<div id="wrapper">
  <div id="main-wrapper">
    <app-sidebar></app-sidebar>
    <div id="main" class="p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>-->
