<div id="header" class="navbar navbar-default navbar-fixed-top p-0">
  <div class="navbar-header">
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
      <i class="icon-reorder"></i>
    </button>
    <img src="./src/images/eatonlogo.svg" width="150" height="50" />
    <!--<button (click)="toggleSidebar()">click</button>-->
  </div>
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav pull-right nav-account">
      <li class="dropdown">
        <button href="#" class="btn btn-account dropdown-toggle" type="button" id="accountMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-singleuser"></i> Account</button>
        <ul class="dropdown-menu" aria-labelledby="accountMenu">
          <li><a href="#">Some Menu Item</a></li>
          <li><a href="#">Another Menu Item</a></li>
          <li><a href="#">A Third Menu Item</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
