<section class="maincontent">
  <div class="maincontent__rightcol">
    <div class="title-bar">
      <h1 class="light man">Setup</h1><span class="align-btn-right"></span>
    </div>
    <div class="content-main" role="main" style="padding:0;">
      <div class="col-lg-12">
        <div class="col-lg-12 mb-4">
          <label class="mt-4">UniqId</label>
          <hr class="mt-2">
          <a routerLink='/my-location' class="btn btn-white btn-icon-button"><i class="icon-searchandreplace"></i> My Location</a>
          <a routerLink='/category-management' class="btn btn-white btn-icon-button"><i class="icon-searchandreplace"></i> Category Management</a>
        </div>
        <div class="col-lg-12 mb-4">
          <label class="mt-4">Forms</label>
          <hr class="mt-2">
          <a routerLink='/form-fields' class="btn btn-white btn-icon-button"><i class="icon-searchandreplace"></i> Form Fields</a>
          <a routerLink='/forms' class="btn btn-white btn-icon-button"><i class="icon-searchandreplace"></i> Forms</a>
        </div>
        <div class="col-lg-12 mb-4">
          <label class="mt-4">Accounts</label>
          <hr class="mt-2">
          <a routerLink='/users' class="btn btn-white btn-icon-button"><i class="icon-searchandreplace"></i> Users</a>
          <a routerLink='/attachment-label' class="btn btn-white btn-icon-button"><i class="icon-searchandreplace"></i> Attachment Label</a>
        </div>
      </div>
    </div>
  </div>
</section>
