<div bsModal #addLocationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="addLocationModal.hide()" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title text-center" id="myModalLabel18">Add New Location</h5>
      </div>
      <div class="modal-body">
        <div class="col-lg-12 col-md-12 p-0 display-inline-flex">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Location Name</label>
              <input type="text" class="form-control" placeholder="Location Name" autofocus />
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" placeholder="Description" rows="2" ></textarea>
            </div>
            <div class="form-group">
              <label>Latitude</label>
              <input type="text" class="form-control" placeholder="Latitude" />
            </div>
            <div class="form-group">
              <label>Location Barcode</label>
              <input type="text" class="form-control" placeholder="Location Barcode" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Customer Location ID</label>
              <input type="text" class="form-control" placeholder="Customer Location ID" />
            </div>
            <div class="form-group">
              <label>Notes</label>
              <textarea class="form-control" placeholder="Notes" rows="2"></textarea>
            </div>
            <div class="form-group">
              <label>Longitude</label>
              <input type="text" class="form-control" placeholder="Longitude" />
            </div>
            <div class="form-group">
              <label>Chip ID</label>
              <input type="text" class="form-control" placeholder="Chip ID" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-lg-12 col-xs-12 text-center">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <button class="btn btn-primary btn-sm" (click)="addLocationModal.hide()">Cancel</button>
        <button class="btn btn-primary btn-sm" (click)="createNewLocation()">Add</button>
      </div>
    </div>
  </div>
</div>
