<section class="maincontent">
  <div class="maincontent__rightcol">
    <div class="title-bar">
      <h1 class="light man">Asset</h1><span class="align-btn-right"><button class="btn btn-white btn-sm" (click)="createAssetModal.show()">Create Asset</button></span>
    </div>
    <div class="content-main" role="main" style="padding:0;">
      <!--<table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>
              <div class="checkbox">
                <input class="eaton-checkbox" type="checkbox" name="layout" id="0">
                <label for="0"></label>
              </div>
            </th>
            <th>UniqID</th>
            <th>Owner</th>
            <th>Location</th>
            <th>Category</th>
            <th>Description</th>
            <th>Created Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of model.assetList.assetList" style="cursor: pointer;">
            <td>
              <div class="checkbox">
                <input class="eaton-checkbox" type="checkbox" name="assetCheckbox" id="{{asset._id}}" (click)="navigateToComponent(asset, $event)">
                <label for="{{asset._id}}"></label>
              </div>
            </td>
            <td (mouseup)="navigateToComponent(asset, $event)">{{asset.assetNumber}}</td>
            <td (mouseup)="navigateToComponent(asset, $event)">{{asset.owner.name}}</td>
            <td (mouseup)="navigateToComponent(asset, $event)">{{asset.assetLocation.name}}</td>
            <td (mouseup)="navigateToComponent(asset, $event)">{{asset.category.categoryName}}</td>
            <td (mouseup)="navigateToComponent(asset, $event)">{{asset.assetDescription}}</td>
            <td (mouseup)="navigateToComponent(asset, $event)">{{asset.createdDate | date}}</td>
            <td (mouseup)="navigateToComponent(asset, $event)">{{asset.status}}</td>
          </tr>
        </tbody>
      </table>-->

      <ngx-datatable class="material expandable"
                     [rows]="rows"
                     [columnMode]="'force'"
                     [headerHeight]="50"
                     [footerHeight]="50"
                     [rowHeight]="'auto'"
                     [limit]="5"
                     [selected]="selected"
                     [selectionType]="'checkbox'"
                     (activate)="onActivate($event)"
                     (select)='onSelect($event)'>
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
            <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
            <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="assetNumber"></ngx-datatable-column>
        <ngx-datatable-column name="owner.name"></ngx-datatable-column>
        <ngx-datatable-column name="assetDescription"></ngx-datatable-column>
        <ngx-datatable-column name="createdDate"></ngx-datatable-column>
        <ngx-datatable-column name="status"></ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</section>



<!--<div class="eatonContextMenu" [ngStyle]="model.eatonContextMenu" (clickOutside)="closeEatonContextMenu()" oncontextmenu="return false">
  <div class="eatonContextMenuLink" style="margin-top:2px;" (click)="navigateToComponentContextMenu()"><a>Asset Overview</a></div>
  <div class="eatonContextMenuLink"><a>Edit Asset</a></div>
  <div class="eatonContextMenuLink" (click)="cloneAssetContextMenu()"><a>Clone Asset</a></div>
  <div class="eatonContextMenuLink"><a>Replace Asset</a></div>
  <div class="eatonContextMenuLink"><a>Delete Asset</a></div>
</div>-->

<app-create-asset-modal #createAssetModal></app-create-asset-modal>
