li.nav-item.active {
  pointer-events: none !important;
}

.eaton-form {
  width: 30%;
  display: inline-block;
  margin-right: 10px;
}

.eaton-form-45 {
  width: 45%;
  display: inline-block;
  margin-right: 10px;
}

.hoselist {
  max-height: 300px;
  overflow: auto;
}

.widget {
  display: grid;
}
