<section class="maincontent">
  <div class="maincontent__rightcol">
    <div class="title-bar">
      <h1 class="light man">Home</h1>
    </div>
    <div class="content-main" role="main">
      <div class="homepage-dashboard">
        <div class="homepage-dashboard__col1">
          <button (click)="createAssetModal.show()" class="btn btn-white btn-icon-button"><i class="icon-searchandreplace"></i> Create Asset</button>
          <button (click)="replaceAssetModal.show()" class="btn btn-white btn-icon-button"><i class="icon-createnewasset"></i> Replace Asset</button>
          <button (click)="cloneAssetModal.show()" class="btn btn-white btn-icon-button"><i class="icon-createfromexisting"></i> Clone Asset</button>
        </div>
        <div class="homepage-dashboard__col2">
          <h2 class="h4 mtn">Eaton Tag Guide</h2>
          <img src="../../images/assettagguide.jpg" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>

<app-create-asset-modal #createAssetModal></app-create-asset-modal>
<app-replace-asset-modal #replaceAssetModal></app-replace-asset-modal>
<app-clone-asset-modal #cloneAssetModal></app-clone-asset-modal>
