<div class="login-bg">
  <section class="login">
    <div class="login__body">
      <div class="login__head">
        <a href="#" class="login__brand">
          <img src="images/eatonlogo.svg" width="180" height="60">
        </a>
      </div>
      <div class="login__content">
        <form name="form" (ngSubmit)="f.form.valid && loginUser()" #f="ngForm" novalidate>
          <div class="form-group form-group--withbutton mbn">
            <label for="" class="block">Email Address</label>
            <div class="input-group">
              <div class="input-group-addon input-group-addon--blue"><i class="icon-mail"></i></div>
              <input type="email" class="form-control" id="Email Field" name="useremail" placeholder="Enter Email Address" [(ngModel)]="model.useremail" #email="ngModel">
            </div>

            <label for="" class="block mtm">Password</label>
            <div class="input-group">
              <div class="input-group-addon input-group-addon--blue"><i class="icon-locked"></i></div>
              <input type="password" class="form-control" id="passwordField" name="password" placeholder="Enter Password" [(ngModel)]="model.password" #password="ngModel">
            </div>

            <p class="forgot-password pvm"><a href="#">Forgot your password?</a></p>

            <div class="login__buttonwrap">
              <button class="btn btn-primary">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
